@charset "UTF-8";

/* general */

body {
	margin:0;
	padding:0;
	background:#FFF;
	color:#333;
	font:81% Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	margin:1em 0 0.5em 0;
	color:#002147;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}
h1 {
	margin-top:0.5em;
	font-size:220%;
}
h2 {
	font-size:150%;
}
h2 span.aside {
	font-size:67%;
	font-style:normal;
}
h3 {
	font-size:115%;
}
p {
	margin:1em 0 0.5em 0;
}
ul, ol {
	margin:1em 0;
	padding:0 0 0 2em;
}
li {
	margin:0.5em 0;
}
table {
	border-collapse:collapse;
	margin:1em 0;
}
th,td {
	text-align:left;
	vertical-align:top;
}
a {
	color:#4B92DB;
	text-decoration:underline;
}
a:hover,a:focus {
	text-decoration:none;
}
a img {
	border:none;
}
img.left {
	float:left;
	margin:0 15px 15px 0;
}
img.right {
	float:right;
	margin:0 0 15px 15px;
}
span.journal-authors {
	text-transform:uppercase;
}
span.journal-title {
	font-style:italic;
}
span.journal-volume {
	font-weight:bold;
}
sup {
	font-size:83%;
	vertical-align:17%;
}
p.footnote {
	margin-top:2em;
	font-size:83%;
	color:#666;
}

/* header */

div#header-wrapper {
	background:#002147;
}
div#header {
	overflow:hidden;
	margin:0 auto 15px auto;
	padding:15px 15px 0 15px;
	width:940px;
	background:#002147;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* header-top-menu */

ul#header-menu {
	list-style:none;
	margin:0;
	padding:0;
	font-size:108%;
	line-height:100%;
	text-align:right;
}
ul#header-menu li {
	display:inline;
	margin:0 0 0 0.7em;
	padding:0 0 0 1em;
	border-left:1px solid #8090A3;
}
ul#header-menu li:first-child {
	margin-left:0;
	padding-left:0;
	border:none;
}
ul#header-menu li a {
	padding-left:20px;
	color:#FFF;
	text-decoration:none;
}
ul#header-menu li a:hover, ul#header-menu li a:focus {
	text-decoration:underline;
}
ul#header-menu li a.link-home {
	background:url(../images/icons/icon-home.gif) left center no-repeat;
}
ul#header-menu li a.link-contact {
	background:url(../images/icons/icon-contact.gif) left center no-repeat;
}
ul#header-menu li a.link-site-map {
	background:url(../images/icons/icon-site-map.gif) left center no-repeat;
}
ul#header-menu li a.link-edit {
	background:url(../images/icons/icon-edit.gif) left center no-repeat;
}

/* header-logos */

div#header img.logo-box {
	float:right;
	margin:-3px 0 15px 15px;
	width:96px;
	height:96px;
}
div#header img.logo-rect {
	float:right;
	margin:20px 0 15px 15px;
	width:156px;
	height:50px;
}
div#header img.logo-rect-wtchg {
	float:right;
	margin:0 0 5px 15px;
	width:156px;
	height:50px;
}
img#logo-ndm {
	float:left;
	margin:15px 15px 18px 0;
	width:107px;
	height:59px;
}
img#logo-cbf {
	float:left;
	margin:15px 15px 15px 0;
	width:52px;
	height:60px;
}

/* header-titles */

div#header img.logo-ocdem {
	width:57px;
	height:62px;
	margin:10px 10px 0 0;
	float:left;
}
div#header h1 {
	margin:18px 0 10px 0;
	line-height:100%;
}
div#header h1.wtchg {
	margin:0;
	padding:7px 0 12px 0;
	line-height:100%;
}
div#header h1.ccmp {
	margin:18px 0 5px 0;
}
div#header h1.expmed {
	margin:18px 0 5px 0;
}
div#header h1.ocdem {
	margin:10px 0 0 0;
	padding:0 0 12px 0;
}
div#header h1.cbf {
	margin:0;
	padding:32px 0 5px 0;
}
div#header img.logo-nhs {
	width:84px;
	height:34px;
	margin:23px 5px 0 0;
	float:right;
}
div#header img.logo-rect {
	width:156px;
	height:50px;
	margin:15px 0 0 15px;
	float:right;
}
div#header h2 {
	margin:0;
	line-height:100%;
}

/* header-primary-menu */

ul#primary-menu {
	clear:left;
	list-style:none;
	margin:0;
	padding:0;
	font-size:110%;
	line-height:100%;
}
ul#primary-menu li {
	float:left;
	margin:0;
	padding:0 6px 0 0;
}
ul#primary-menu li span {
	display:block;
	padding:8px 0 10px 0;
}
ul#primary-menu li span a {
	display:block;
	padding:0 4px 2px 10px;
	border-left:1px solid #8090A3;
	color:#FFF;
	text-decoration:none;
}
ul#primary-menu li.current {
	background:url(../images/tabs.gif) right top no-repeat;
}
ul#primary-menu li.current span {
	background:url(../images/tabs.gif) left top no-repeat;
}
ul#primary-menu li.current span a {
	border-left-color:#FFF;
	color:#002147;
}
ul#primary-menu li.current+li span a {
	border-left-color:#002147;
}
ul#primary-menu li span a:hover, ul#primary-menu li span a:focus {
	text-decoration:underline;
}
ul#primary-menu li.current span a:hover, ul#primary-menu li.current span a:focus {
	text-decoration:none;
}

/* content-wrapper */

div#content-wrapper {
	clear:both;
	margin:0 auto;
	padding:0 15px 15px 15px;
	width:940px;
}

/* content-secondary-menu */

ul#secondary-menu {
	list-style:none;
	margin:0 0 15px 0;
	padding:0 0 7px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:100%;
}
ul#secondary-menu li {
	display:inline;
	margin:0 1em 0 0;
}
ul#secondary-menu li a {
	padding-bottom:3px;
	color:#002147;
	text-decoration:none;
}
ul#secondary-menu li.current a {
	border-bottom:solid 3px #002147;
}
ul#secondary-menu li a:hover, ul#secondary-menu li a:focus {
	text-decoration:underline;
}
ul#secondary-menu li.current a:hover, ul#secondary-menu li.current a:focus {
	text-decoration:none;
}

/* content */

div#content {
	float:left;
	width:677px;
}
div.column-clear {
	float:left;
	width:32%;
}
/* content-tabbed-menu */

ul.content-menu {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0 0 0 5px;
	width:99%;
	border-bottom:solid 1px #7F90A3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:108%;
	line-height:100%;
}
ul.content-menu li {
	float:left;
	margin:2px 2px 0 0;
	padding:0 4px 0 0;
	background:url(../images/tabs.gif) right -50px no-repeat;
}
ul.content-menu li a {
	display:block;
	padding:4px 6px 4px 10px;
	background:url(../images/tabs.gif) left -50px no-repeat;
	color:#27537A;
	text-decoration:none;
}
ul.content-menu li.current {
	position:relative;
	top:1px;
	margin-top:0;
	background-position:right -100px;
}
ul.content-menu li.current a {
	padding-top:5px;
	padding-bottom:5px;
	background-position:left -100px;
	color:#000;
}
ul.content-menu li a:hover, ul.content-menu li a:focus {
	text-decoration:underline;
}
ul.content-menu li.current a:hover, ul.content-menu li.current a:focus {
	text-decoration:none;
}

/* content-panels */

div.content-panel {
	clear:left;
	float:left;
	width:99%;
}
div#content-research table {
	width:99%;
}
table.vertical-list {
	width:auto;
}
div#content-research table th,table.vertical-list th {
	padding:1px;
	color:#002147;
	font-style:italic;
	font-weight:normal;
	white-space:nowrap;
}
div#content-research table td,table.vertical-list td {
	/* font-style:italic; */
	padding:1px;
}
div#content-collaborations table,table.horizontal-list {
	width:99%;
}
div#content-collaborations table th,table.horizontal-list th {
	padding:10px;
	font:bold 108% Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
	color:#002147;
	background:#C5D2E0;
	border:solid 1px #7F90A3;
	white-space:nowrap;
}
div#content-collaborations table td,table.horizontal-list td {
	padding:10px;
	font:100% Arial,Helvetica,sans-serif;
	text-align:left;
	color:#333;
	background:#FFF;
	border:solid 1px #7F90A3;
}
div.figure {
	float:right;
	clear:right;
	margin:1em 0 1.5em 2em;
	width:230px;
	color:#666;
	font-size:85%;
	line-height:109%;
	text-align:center;
}
div.figure-wide {
	margin:1em 0 1.5em 0;
	color:#666;
	font-size:85%;
	line-height:109%;
	text-align:center;
}

/* sortable tables */

table.sortable {
	width:99%;
}
table.sortable th {
	padding:10px;
	font:bold 108% Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
	color:#002147;
	background:#C5D2E0;
	border:solid 1px #7F90A3;
	white-space:nowrap;
}
table.sortable td {
	padding:10px;
	font:100% Arial,Helvetica,sans-serif;
	text-align:left;
	color:#333;
	background:#FFF;
	border:solid 1px #7F90A3;
}

table.sortable th a {
	color:#002147;
}
table.sortable th.asc a {
	padding-right:16px;
	font-weight:bold;
	background:url(../images/icons/icon-asc.gif) 100% 50% no-repeat;
}
table.sortable th.desc a {
	padding-right:16px;
	font-weight:bold;
	background:url(../images/icons/icon-desc.gif) 100% 50% no-repeat;
}
table.sortable td a {
	display:block;
	padding:1px 20px 2px 0;
	color:#4B92DB;
	/*background:url(../images/icons/icon-link.gif) 100% 50% no-repeat;*/
}
table.sortable td a.plain {
	padding:0;
	background:none;
}
div.technology-exchange {
	width:30%;
	margin-right:2%;
	float:left;
}

/* side-bar */

div#side-bar {
	float:right;
	width:248px;
}
div.side-box {
	margin:15px 0;
	padding:8px;
	width:230px;
	border-left:solid 1px #7F90A3;
	border-right:solid 1px #7F90A3;
	font-size:92%;
	line-height:150%;
	word-spacing:-1px;
}
div.side-box h3 {
	margin-top:0;
	padding:3px 6px;
	background:#C5D2E0;
	font-size:133%;
}
div.side-box img {
	display:block;
	margin:0 auto;
}
div.side-box img.mail_icon {
	display:inline;
}
div.side-box table th {
	padding:1px;
	color:#002147;
	font-style:italic;
	font-weight:normal;
	white-space:nowrap;
}
div.side-box table td {
	padding:1px;
}
div.side-box ul {
	list-style:none;
	padding-left:0;
}
div.side-box ul ul {
	padding-left:1em;
	font-size:92%;
	margin:0.5em 0;
}
div.side-box ul li {
	border-bottom:1px solid #FFF; /* IE6 */
}
div.side-box ul li a {
	display:block;
	padding:0 20px 0 0;
	color:#4B92DB;
	background:url(../images/icons/icon-link.gif) 100% 50% no-repeat;
}
div.side-box ul ul li {
	margin:0;
}
div.side-box ul ul li a {
	background:none;
	text-decoration:none;
}
div.side-box ul ul li a:hover, div.side-box ul ul li a:focus {
	text-decoration:underline;
}
div.side-box ul li.current a,div.side-box ul li.current li.current a {
	font-weight:bold;
}
div.side-box ul li.current li a {
	font-weight:normal;
}

/* home page - instance specific */

#animation1.ocdem {
	float:left;
	margin:0 0 15px 0;
	width:610px;
	height:528px;
}
#columns.ocdem {
	float:right;
	width:314px;
}
#footnote.ocdem {
	float:left;
	clear:left;
	margin:0 0 15px 0;
	width:610px;
	text-align:center;
	font-style:italic;
}
div.row {
	clear:both;
}
/* home page */

.wtchganimation {
	width:462px;
	height:346px;
	margin:0 0 15px 0;
}
.expmedanimation {
	margin:0 0 15px 0;
	width:940px;
	height:200px;
}
.tdianimation {
	margin:0 0 5px 0;
	width:610px;
	height:528px;
}
.ccmpanimation {
	float:left;
	margin:0 15px 15px 0;
	width:610px;
	height:250px;
}
.tropmedanimation {
	width:940px;
	height:250px;
}
div.column-quad-left {
	float:left;
	width:223px;
	margin:0;
}
div.column-quad-middle {
	float:left;
	width:462px;
	margin:0 0 0 16px;
}
div.column-quad-right {
	float:left;
	width:223px;
	margin:0 0 0 16px;
}
div.column-quad-box {
	margin:0 0 15px 0;
	padding:0;
	background:#f5f5f5;
	border:solid 1px #c5d2e0;
	font-size:92%;
	line-height:150%;
	word-spacing:-1px;
}
div.column-quad-box h3 {
	margin:0;
	padding:1px 5px 2px 5px;
	background:#c5d2e0;
	color:#002147;
	font-size:133%;
}
div.column-quad-box p {
	padding:0 5px;
}
div.column-quad-box h4 {
	margin-bottom:0;
	padding:0 5px;
	font:bold 100% Verdana, Helvetica, Arial, sans-serif;
	color:#333;
}
div.column-quad-box h5 {
	margin-top:0;
	padding:0 5px;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
}
div.column-quad-box a.link {
	padding:0;
	background:none;
}
.full-width {
	width:940px;
	margin:0 0 15px 0;
}
div.column {
	float:left;
	margin:0 -1px 15px 0;
	padding:8px;
	width:296px;
	border-left:solid 1px #7F90A3;
	border-right:solid 1px #7F90A3;
	font-size:92%;
	line-height:150%;
	word-spacing:-1px;
}
div.column.half {
	float:left;
	margin:0 -1px 15px 0;
	padding:8px;
	width:400px;
	border-left:solid 1px #7F90A3;
	border-right:solid 1px #7F90A3;
	font-size:92%;
	line-height:150%;
	word-spacing:-1px;
}
div.column.double {
	width:609px;
}
div.column h3, div.column-two-thirds h3 {
	margin-top:0;
	padding:3px 6px;
	background:#C5D2E0;
	font-size:125%;
}
div.column h4 {
	margin-bottom:0;
	font:100% Verdana, Helvetica, Arial, sans-serif;
	color:#333;
	text-transform:uppercase;
}
div.column h5 {
	margin-top:0;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
}
div.column img.right {
	float:right;
	margin:0 0 10px 10px;
}
a.link {
	padding:1px 20px 2px 0;
	color:#4B92DB;
	background:url(../images/icons/icon-link.gif) 100% 50% no-repeat;
}
div.admissions {
	float:right;
	margin:1em 1em 2em 2em;
	padding:70px 10px 10px 10px;
	width:194px;
	background:#FFF url(../images/icons/icon-admissions.gif) 10px 10px no-repeat;
	border:dashed 1px #002147;
}
div.applications {
	float:right;
	margin:1em 1em 2em 2em;
	padding: 0.5em 1em 0.5em 1em;
	border:dashed 1px #002147;
	text-align: center;
}
div.applications2 {
	float: right;
	margin: 1em 2em 2em 1em;
	padding: 0.5em 1em 0.5em 1em;
	border:dashed 1px #002147;
}

/* news items not on homepage */

div.news-item {
	overflow: hidden;
	width:908px;
	padding:1px 15px 1px 15px;
	margin:15px 0;
	border:solid 1px #CCC;
	background:#EEE;
}
div.news-item h4 {
	margin-bottom:0;
	font:100% Verdana, Helvetica, Arial, sans-serif;
	color:#333;
	text-transform:uppercase;
}
div.news-item h5 {
	margin-top:0;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
}
div.news-item img.right {
	float:right;
	margin:0 0 10px 10px;
}
div.news-item a.link {
	background-image:url(../images/icons/icon-link-2.gif);
}


/* general table styles */

table.locations {
	width:99%;
}
table.locations th {
	padding:10px;
	font:bold 108% Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
	color:#002147;
	background:#C5D2E0;
	border:solid 1px #7F90A3;
	white-space:nowrap;
}
table.locations td {
	padding:10px;
	font:100% Arial,Helvetica,sans-serif;
	text-align:left;
	color:#333;
	background:#FFF;
	border:solid 1px #7F90A3;
}
table.locations p {
	margin:0.5em 0;
}

table.directory {
	width:99%;
}
table.directory th {
	padding:5px;
	font:bold 100% Verdana, Helvetica, Arial, sans-serif;
	text-align:left;
	color:#002147;
	background:#C5D2E0;
	border:solid 1px #7F90A3;
}
table.directory td {
	padding:5px;
	font:92% Arial,Helvetica,sans-serif;
	text-align:left;
	color:#333;
	background:#FFF;
	border:solid 1px #7F90A3;
}
table.directory p {
	margin:0.5em 0;
}

/* footer */

div#footer {
	clear:both;
	margin:30px auto 0 auto;
	padding:1px 15px;
	width:910px;
	border-top:solid 1px #7F90A3;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
	text-align:center;
}

/* search */

form.search, form.search div {
	display:inline;
}
form.wtchg-search, form.wtchg-search div {
	float:right;
	margin-top: 2px;
}
form.search div.search-box {
	background:#FFF;
	border:solid 2px #FFF;
}
form.search div.search-box label img {
	vertical-align:text-bottom;
}
form.search div.search-box input {
	border:solid 1px #FFF;
	padding:0;
	color:#002147;
	font-family:sans-serif;
	font-size:92%;
}
form.search div.search-button {
	margin-left:0.5em;
}
form.search div.search-button input, {
	color:#FFF;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:100%;
	padding:0 0.5em;
	background:#002147;
	border:solid 1px #C1C8D3;
	vertical-align:baseline;
}
form.search div.search-box input#magnifier_image {
	border: none;
	vertical-align: middle;
	padding-bottom: 2px;
}

div.searchResults div {
	margin:0;
	padding:1em 0;
	clear: both;
	
}
div.searchResults h3 {
	margin:0;
	padding:0 0 0.25em 0;
	font-weight:bold;
	
}
div.searchResults h4 {
	margin:0;
	padding:0 0 0.25em 0;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
}
div.searchResults img {
	float: left;
	padding-right:0.5em;
}
div.searchResults p {
	margin:0;
	padding:0;
}
div.search {
	float: right;
}

/* summary lists */

div.summary-list-item {
	overflow: hidden;
	width:908px;
	padding:1px 15px 1px 15px;
	margin:15px 0;
	border:solid 1px #CCC;
	background:#EEE;
}
div.summary-list-item h4 {
	margin-bottom:0;
	font:100% Verdana, Helvetica, Arial, sans-serif;
	color:#333;
	text-transform:uppercase;
}
div.summary-list-item h5 {
	margin-top:0;
	font:83% Verdana, Helvetica, Arial, sans-serif;
	color:#666;
}
div.summary-list-item img.left {
	float:left;
	margin:0 10px 10px 0;
}
div.summary-list-item a.link {
	background-image:url(../images/icons/icon-link-2.gif);
}

/* pagination */

ul.pagination {
	list-style:none;
	margin:0.5em 0;
	padding:0;
	font-size:108%;
	line-height:100%;
}
ul.pagination li {
	display:inline;
	margin:0 1em 0 0;
	padding:0;
	font-style:italic;
}
ul.pagination li a {
	text-decoration:none;
	font-style:normal;
}
ul.pagination li a:hover, ul.pagination li a:focus {
	text-decoration:underline;
}
ul.pagination li a.first {
	padding-left:20px;
	background:url(../images/icons/icon-first.gif) left center no-repeat;
}
ul.pagination li a.previous {
	padding-left:20px;
	background:url(../images/icons/icon-previous.gif) left center no-repeat;
}
ul.pagination li a.next {
	padding-right:20px;
	background:url(../images/icons/icon-next.gif) right center no-repeat;
}
ul.pagination li a.last {
	padding-right:20px;
	background:url(../images/icons/icon-last.gif) right center no-repeat;
}
div.full-width {
    margin: 0 0 15px;
    width: 940px;
    clear: both;
}
